<%- include('partials/top-html') -%>
<%- include('partials/navbar') -%>
<%- include('partials/navbar-mob') -%>

<!-- <div class="gallery">
  <div class="row">
    <img src="" alt="">
    <img src="" alt="">
  </div>
</div> -->


<div class="fullscreen">
  <img src="" alt="">
  <div class="cross-port"><span class="iconify cross-shop" data-icon="radix-icons:cross-circled" data-width="35" data-height="35" style="color: #04B2D9"></span></div>
</div>


<ul>
  <%items.reverse().forEach(function(item,index){%>
    <li class="li-portfolio">
      <img src="<%-item.img%>" alt="Portfolio drawing">
    </li>
  <%})%>
  <li class="li-portfolio">
    <img src="https://images.pexels.com/photos/5560208/pexels-photo-5560208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
  </li>
  <li class="li-portfolio">
    <img src="https://images.pexels.com/photos/7109112/pexels-photo-7109112.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </li>
  <li class="li-portfolio">
    <img src="https://images.pexels.com/photos/7109115/pexels-photo-7109115.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </li>
  <li class="li-portfolio">
    <img src="https://images.pexels.com/photos/5935745/pexels-photo-5935745.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </li>
  <li class="li-portfolio">
    <img src="https://images.pexels.com/photos/7109113/pexels-photo-7109113.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </li>
  <li class="li-portfolio">
    <img src="https://images.pexels.com/photos/7109115/pexels-photo-7109115.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </li>
  <li class="li-portfolio">
    <img src="https://images.pexels.com/photos/5909881/pexels-photo-5909881.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </li>
  <li class="li-portfolio">
    <img src="https://images.pexels.com/photos/1389428/pexels-photo-1389428.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </li>
  <li class="li-portfolio">
    <img src="https://images.pexels.com/photos/5273054/pexels-photo-5273054.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </li>
  <li class="li-portfolio">
    <img src="https://images.pexels.com/photos/3280403/pexels-photo-3280403.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </li>
  <li class="li-portfolio">
    <img src="https://images.pexels.com/photos/1805268/pexels-photo-1805268.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </li>
  <li class="li-portfolio">
    <img src="https://images.pexels.com/photos/5025294/pexels-photo-5025294.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </li>
  <li class="li-portfolio">
    <img src="https://images.pexels.com/photos/4633742/pexels-photo-4633742.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </li>
  <li class="li-portfolio">
    <img src="https://images.pexels.com/photos/5273061/pexels-photo-5273061.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </li>
  <li class="li-portfolio">
    <img src="https://images.pexels.com/photos/4481400/pexels-photo-4481400.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </li>
  <li class="li-portfolio">
    <img src="https://images.pexels.com/photos/4200947/pexels-photo-4200947.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </li>
  <li class="li-portfolio">
    <img src="https://images.pexels.com/photos/5472360/pexels-photo-5472360.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </li>
  <li class="li-portfolio">
    <img src="https://images.pexels.com/photos/3152204/pexels-photo-3152204.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </li>
  <li class="li-portfolio">
    <img src="https://images.pexels.com/photos/1428170/pexels-photo-1428170.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </li>
  <li class="li-portfolio">
    <img src="https://images.pexels.com/photos/1805265/pexels-photo-1805265.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </li>
  <li></li>
</ul>




<%- include('partials/bot-html') -%>
