<%- include('partials/top-html') -%>
<%- include('partials/navbar') -%>
<%- include('partials/navbar-mob') -%>

<!-- <div class="gallery">
  <div class="row">
    <img src="" alt="">
    <img src="" alt="">
  </div>
</div> -->


<div class="fullscreen">
  <img src="" alt="">
  <div class="cross-port"><span class="iconify cross-shop" data-icon="radix-icons:cross-circled" data-width="35" data-height="35" style="color: #04B2D9"></span></div>
</div>

<ul>
  <%items.reverse().forEach(function(item,index){%>
    <li class="li-portfolio">
      <img src="<%-item.img%>" alt="Portfolio drawing">
    </li>
  <%})%>
  <li></li>
</ul>




<%- include('partials/bot-html') -%>
